@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
:root {
    --cor-background:#faf0b4;
    --cor-primary:#64117d;
    --cor-secundary:#ffb717;
    --cor-verde:#288707;
    --cor-black:#212121;
    --cor-text:#4f4f4f;
    --cor-text-out:#90908e;
    --cor-separate:#cccccc;
}
html, body {
    background-color: var(--cor-background);
    font-family: 'PoppinsRegular','Rubik',sans-serif;
    color: var(--cor-text);

}
b {
    font-family: 'PoppinsMedium','Rubik',sans-serif;
}
a.navbar-brand {
    margin-left: -10px;
}
.nav-link {
color: var(--cor-black)!important;
padding-left: 35px!important;
padding-right: 35px!important;
}
.btn-white {
    background-color:white;
    color: var(--cor-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}
.btn-white-cardapio {
    background-color:white;
    color: var(--cor-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}
.btn-white.active,.btn-white:hover {
background-color: var(--cor-secundary);
}
.btn-white-cardapio.active,.btn-white-cardapio:hover {
    background-color: var(--cor-primary);
    color: white!important;
    }
.btn-icon {
    padding-right: 75px;
}
.btn-icon .icon {
    display: inline-block;
    color: white;
    background-color:var(--cor-secundary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;

}
.color-primary {
    color: var(--cor-primary);
}
.banner {
    padding-top: 90px;
    padding-bottom: 200px;
}
.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}
.text-banner h1 {
    color: var(--cor-black);
    font-size: 42px;
}
.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn-puple {
    background-color:var(--cor-primary);
    color: white !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgb(0,0,0,0.1);
}
.btn-icon-left {
    padding-left: 70px;
}
.btn-icon-left span.icon-left {
    display: inline-block;
    color: white;
    background-color: var(--cor-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}
.btn-sm {
    padding: 9px 15px !important;
    border-radius: 15px !important;
    font-size: 18px !important;
}
.icon-sm-whatsapp {
    color:#288707;
}
.icone-acai{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: 25px;
   
    
}
.icon-sm-face {
    color: blue;
}
.icon-sm-insta {
    color:rgb(212, 62, 222);
}
.card-banner {
    height: 400px;
    width: 400px;
    border-radius: 150px;
    background-color: #791597be;
    position: absolute;
    right: 0px;
    top: -60px;
}
.img-banner img {
    position: absolute;
    width: 600px;
    top: -80px;
    right: 15px;
}
.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow:  0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none!important;
    
}
.card-case {
    width: 400px;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #4f4f4f;
    opacity: 80%;
    color: antiquewhite;
}
.card-case-name {
    position: absolute;
    font-size: 13px;
    right: 20px;
    bottom: 2px;
    color: var(--cor-secundary);
    padding-top: 30px;

}
.servico {
   padding-top: 30px;
   padding-bottom: 120px; 

}
.hint-title{
    color:var(--cor-primary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.title {
    color:var(--cor-black);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.card-icon {
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text {
    color:var(--cor-text);
    font-size: 15px;
    padding: 0px 30px;
}
.card-text p {
    font-size: 22px;
    color:var(--cor-black);
    margin-bottom: 10px;
}
.background-servicos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-2.png);
}
.cardapio {
    padding-top: 30px;
    padding-bottom: 80px;
}
