@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}
:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #1e1d1d;
    --color-text-out:#5a5a58;
    --color-primary:#c6c5c5;
    --color-primary-out:#e5e5e3;
    --color-secundary: #10ABB4;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --color-input-out: #ececec;
}
html, body {
    font-family: 'PoppinsRegular', 'Rubik',sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    
}
b{
    font-family:'PoppinsMedium', 'Rubik',sans-serif; ;
}
header h1{
    margin-top: 15px;
    margin-left: 15px;
}

.width-fix {
    width: calc(100% - 20px);
    max-width: 700px;
    margin: 0px auto;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.card {
    border-radius: 10px;
    padding: 10px 10x;
    font-size: 10px;
    box-shadow:0px 10px 15px -3px rgba(0, 0, 0, 0.1)!important;
    border: none !important;
    background-color: var(--color-primary);
    max-height: 100px;
}

.container-img {
    width : 40px;
    height: 40px;
    background-image: url(../img2/logo_tasmania.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 10px; 
    margin-top: 9px;
}

.infos {
    flex:1;
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-size: 12px;
    margin-top: 20px;
    color: var(--color-black);
    justify-content: space-between;
}
.infos h2, p{ 
    font-size: 12px;
    margin-bottom: 14px;
    color: var(--color-black);
    margin-top: 5px;
}
.btn-sm {
 background-color: var(--color-secundary);
 width: 80px;
 height: 30px;
 margin-right: 5px;
 color: var(--color-background);
 box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
 font-size: 14px;
}