:root {  
    --color-secundary: #2cc2ca;
    --color-white: #ffffff;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}

.card-address {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-icon-details {
    width: 50px;
    height: 50px;
    background-color: var(--color-secundary);
    color: var(--color-black);
    font-size: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-separate);
    transition: .4s;
    -webkit-transition: .4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 17px;
    width: 17px;
    left: 4px;
    bottom:4px;
    background-color: var(--color-white);
    transition: .4s;
    -webkit-transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-green);
}

.input:focus + .slider {
    box-shadow: 0 0 1px var(--color-green);
}

input:checked + .slider::before {
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}